{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
<div class="container-fluid" style="padding-bottom:3%">
    <div class="disp">
        <img src="../static/img4.jpg" height="200px", width="300px"> 
        <h3 style="padding-left:100px"%> WRITE A PITCH</h3> <hr>
    </div>

        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
            
            {{wtf.quick_form(form)}}
            
            </div>
            <div class="col-md-2"></div>
        </div>
</div>

{% endblock%}